body {
  font-family: sans-serif;
  font-size: 120%;
  margin: 1rem 1.2rem;
}

h1, h2, h3, p, ol, ul {
  margin: 0.7rem 0 0.4rem;
  padding: 0;
}

button {
  border-radius: 0.5rem;
  border: 0.08rem solid #000;
  font: 1rem sans-serif;
}

li {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
}
